In [10]:
from IPython.display import display, HTML
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')
display(HTML("<style>.container { width:100% !important; }</style>"))

In [11]:
#import scraped data
df = pd.read_csv("/Users/kristofszucs/Documents/jupyter_notebooks/projet_supply_chain_datascientest/asurion_complete.csv")

In [12]:
# clean chosen columns (delete extra space and lower all chars)
def text_cleaner(column): 
    df[column] = df[column].str.lower() \
                            .str.strip() \
                            .str.replace(r'\s+', ' ')

In [13]:
# run the text cleaner function on three specific columns
for c in ["titre","nom","comment"]:
    text_cleaner(c)

In [14]:
# unique cleaning steps for different columns
df["nom"] = df["nom"].str.replace(".","")
df["stars"] = df["stars"].str[6]
df["nb_reviews"] = df["nb_reviews"].str[0]
df["date_experience"] = df["date_experience"].str.replace("Date of experience: ","")
df["date_review"] = pd.to_datetime(df["date_review"])
df["date_experience"] = pd.to_datetime(df["date_experience"])

In [15]:
df = df.dropna()

In [16]:
df.isna().sum()

titre              0
nom                0
stars              0
localisation       0
nb_reviews         0
date_review        0
date_experience    0
comment            0
dtype: int64

In [19]:
df.iloc[11421,:]

titre                                            i cracked my screen
nom                                                              nan
stars                                                              5
localisation                                                      US
nb_reviews                                                         1
date_review                                2022-05-04 21:16:19+00:00
date_experience                                  2022-05-04 00:00:00
comment            i cracked my screen. it was very easy. i dropp...
Name: 13249, dtype: object

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72896 entries, 0 to 91772
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titre            72896 non-null  object
 1   nom              72896 non-null  object
 2   stars            72896 non-null  object
 3   localisation     72896 non-null  object
 4   nb_reviews       72896 non-null  object
 5   date_review      72896 non-null  datetime64[ns, UTC]
 6   date_experience  72896 non-null  datetime64[ns]
 7   comment          72896 non-null  object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), object(6)
memory usage: 5.0+ MB

In [17]:
# output a cleaner version of our data
df.to_csv('asurion_preprocess.csv',index=False)